.spacer {
  display: inline-block;
  content: 'test';

  @include responsive-prop('width', numberRange(1, 100)) using ($value) {
    width: dm($value);
    height: auto;
  }

  @include responsive-prop('height', numberRange(1, 100)) using ($value) {
    width: 100%;
    height: dm($value);
  }
}
