.teaser {
  display: block;
  color: color(primary);
  cursor: pointer;
  opacity: 0;
  transition: opacity speed(normal);

  &:hover {
    color: color(secondary);
  }

  &.in-view {
    opacity: 1;
  }
}

.inner {
  position: relative;
  overflow: hidden;
  background-color: #eee;

  &:after {
    pointer: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 25%;
    content: '';
    mix-blend-mode: overlay;
    filter: contrast(120%) grayscale(100) brightness(80%);
    transition: opacity speed(normal);
  }

  @include breakpoint(m) {
    .image {
      filter: grayscale(100) contrast(110%);
    }

    &:hover {
      &:after {
        opacity: 0;
      }
      .image {
        transform: translateZ(0) scale(1.04);
        filter: grayscale(0) contrast(100%);
      }
    }
  }

  // &:hover {
  //   &:after {
  //     opacity: 0;
  //   }
  // }
}

.image {
  display: block;
  aspect-ratio: 4 / 5;
  width: 100%;
  height: auto;
  transform: translateZ(0) scale(1);
  animation: fade-in speed(normal);
  transition: transform speed(fast) cubic-bezier(0.45, 0, 0.55, 1),
    filter speed(fast) cubic-bezier(0.45, 0, 0.55, 1);
}

.caption {
  padding: dm(0.5) 0 0 0;
  color: currentColor;
}

.title {
  padding: dm(1.5) 0 0 0;
  color: currentColor;
  transition: color speed(fast);

  @include breakpoint(m) {
    padding: dm(2) 0 0 0;
  }
}

.tags {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include breakpoint(m) {
    padding: dm(0.5) 0 0 0;
  }
}

.tag {
  margin: 0;
  padding: 0 dm(1) 0 0;
  font: font(1.3, base, medium);
  text-transform: uppercase;
  transition: color speed(fast);

  @include breakpoint(m) {
    font: font(1.4, base, medium);
  }

  &:hover {
    color: currentColor;
  }
}
