@import "../../styles/layout";
@import "../../styles/variables";
@import "../../styles/animations";
@import "../../styles/breakpoints";

.teaser {
  a {
    color: $primary;
  }

  &:hover {
    a {
      color: $secondary;
    }
  }

  &__inner {
    overflow: hidden;
    background-color: #eee;

    &__image {
      display: block;
      width: 100%;
      height: auto;
      animation: fade-in $speed-default;
      aspect-ratio: 4 / 5;
      transform: translateZ(0) scale(1);
      transition:
        transform $speed-fast cubic-bezier(0.45, 0, 0.55, 1),
        filter $speed-fast cubic-bezier(0.45, 0, 0.55, 1);

      @include breakpoint("m") {
        filter: grayscale(100) contrast(110%);

        &:hover {
          filter: grayscale(0) contrast(100%);
          transform: translateZ(0) scale(1.04);
        }
      }
    }
  }

  &__caption {
    padding: dm(1) 0 0 0;
    color: currentColor;
  }

  &__title {
    padding: dm(2) 0 0 0;
    color: currentColor;
    transition: color $speed-fast;
  }

  &__tags {
    display: flex;
    padding: dm(0.5) 0 0 0;
    margin: 0;
    list-style-type: none;

    &__item {
      padding: 0 dm(1) 0 0;
      margin: 0;
      font-size: 1.4rem;
      line-height: lh(1.4rem);
      text-transform: uppercase;
      transition: color $speed-fast;

      &:hover {
        color: currentColor;
      }
    }
  }
}
