.pagination {
  display: flex;
  justify-content: center;
  margin: dm(12) 0 0 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: dm(6);
  height: dm(6);
  margin: 0 dm(1);
  color: color(secondary);
  font: font(1.6, base, bold);
  cursor: pointer;
  transition: transform speed(normal), background-color speed(normal),
    color speed(normal);

  &:hover {
    transform: translate(0, -2px);
  }

  &.active {
    border-radius: 50%;
    background-color: color(primary-20);
    color: color(primary);
    cursor: default;

    &:hover {
      transform: none;
    }
  }
}
