@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin: dm(12) 0 0 0;

  &__item {
    margin: 0 dm(1);
    width: dm(6);
    height: dm(6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: lh(1.6rem);
    font-weight: $fw-bold;
    color: $secondary;
    cursor: pointer;
    transition: transform $speed-default, background-color $speed-default,
      color $speed-default;

    &:hover {
      transform: translate(0, -2px);
    }

    &.is-active {
      background-color: $primary-20;
      border-radius: 50%;
      color: $primary;
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }
}
