@import "../../styles/layout";
@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  margin: dm(12) 0 0 0;

  &__item {
    display: flex;
    width: dm(6);
    height: dm(6);
    align-items: center;
    justify-content: center;
    margin: 0 dm(1);
    color: $secondary;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: $fw-bold;
    line-height: lh(1.6rem);
    transition:
      transform $speed-default,
      background-color $speed-default,
      color $speed-default;

    &:hover {
      transform: translate(0, -2px);
    }

    &.is-active {
      background-color: $primary-20;
      border-radius: 50%;
      color: $primary;
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }
}
