@import "../../../styles/breakpoints";
@import "../../../styles/layout";

.column {
  flex: 0 0 auto;

  &.with-gutter {
    padding: 0 $grid-gutter;
  }

  @for $i from 1 through $grid-size {
    &.xs-#{$i} {
      flex-basis: calc(100% / $grid-size * $i);
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @for $i from 1 through $grid-size {
      &.#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          flex-basis: calc(100% / $grid-size * $i);
        }
      }
    }
  }
}
