@import '../../../styles/breakpoints.scss';
@import '../../../styles/layout.scss';

.column {
  flex: 0 0 auto;
  padding: 0 $grid-gutter;

  &--noGutter {
    padding: 0;
  }

  @for $i from 1 through $grid-size {
    &.xs-#{$i} {
      flex-basis: 100% / $grid-size * $i;
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @for $i from 1 through $grid-size {
      &.#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          flex-basis: 100% / $grid-size * $i;
        }
      }
    }
  }
}
