@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.main-nav {
  &__list {
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
      padding: 0 0 0 dm(3.5);

      &__link {
        font-size: 1.7rem;

        &.is-active {
          color: $secondary;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
