@import '../../styles/layout.scss';
@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.main-nav {
  &__list {
    list-style-type: none;
    display: flex;
    margin: dm(2) 0 0 0;
    padding: 0;

    @include breakpoint('m') {
      justify-content: flex-end;
      margin: 0;
    }

    &__item {
      padding: 0 dm(3) 0 0;

      @include breakpoint('m') {
        padding: 0 0 0 dm(3.5);
      }

      &__link {
        font-size: 1.7rem;

        &.is-active {
          color: $secondary;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
