.stage {
  @include breakpoint(m) {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // react bricks
  .toolbar {
    font-size: 1.4rem;
  }
}

.inner {
  max-width: 820px;
}

.text {
  margin: 0;
  padding: 0;
  color: color(primary-50);
  font: font(2.2, base, regular);

  @include breakpoint(m) {
    font: font(2.4, base, regular);
  }

  @include breakpoint(l) {
    font: font(2.6, base, regular);
  }

  &.with-padding-top {
    padding-top: dm(3);
  }

  .highlighted {
    display: inline-block;
    z-index: 1;
    position: relative;
    margin: 0 dm(0.5);
    color: color(secondary);
    font-weight: fw(medium);

    // &::before {
    //   z-index: -1;
    //   position: absolute;
    //   top: 2px;
    //   left: -6px;
    //   width: calc(100% + 12px);
    //   height: 100%;
    //   transform: rotate(var(--random));
    //   border-radius: dm(0.5);
    //   background-color: color(secondary);
    //   content: '';
    //   opacity: 0.2;
    // }
  }
}
