@import '../../../styles/layout';
@import '../../../styles/variables';

.stage {
  @include breakpoint('m') {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // react bricks
  .toolbar {
    font-size: 1.4rem;
  }
}

.inner {
  max-width: 820px;
}

.text {
  margin: 0;
  padding: 0;
  color: $primary-50;
  font-weight: $fw-medium;
  font-size: 2.2rem;
  line-height: lh(2.2rem);

  @include breakpoint('m') {
    font-size: 2.4rem;
    line-height: lh(2.4rem);
  }

  @include breakpoint('l') {
    font-size: 2.6rem;
    line-height: lh(2.6rem);
  }

  &.with-padding-top {
    padding-top: dm(3);
  }

  .highlighted {
    display: inline-block;
    z-index: 1;
    position: relative;
    margin: 0 dm(0.5);
    color: $secondary;

    &::before {
      z-index: -1;
      position: absolute;
      top: 2px;
      left: -6px;
      width: calc(100% + 12px);
      height: 100%;
      transform: rotate(var(--random));
      border-radius: dm(0.5);
      background-color: $secondary;
      content: '';
      opacity: 0.2;
    }
  }
}
