.post-footer {
  font: font(1.6, base, regular);

  @include breakpoint(m) {
    font: font(1.8, base, regular);
  }

  @include breakpoint(l) {
    font: font(2, base, regular);
  }

  p {
    margin: 0;
    padding: dm(3) 0 0 0;

    @include breakpoint(m) {
      padding: dm(5) 0 0 0;
    }
  }
}

.inner {
  padding: dm(2) 0 0 0;
  border-top: 2px solid color(primary);
}

.label {
  font: font(1.2, base, medium);
  text-transform: uppercase;

  @include breakpoint(m) {
    font: font(1.4, base, medium);
  }
}

.action {
  margin-top: dm(2);
  font: font(1.6, base, regular);

  @include breakpoint(m) {
    font: font(1.8, base, regular);
  }
}
