@import "../../../styles/layout";
@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.image-gallery {
  &__grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: dm(1);
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint("l") {
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-columns: repeat(3, 1fr);
    }

    &__element {
      cursor: zoom-in;
      object-fit: contain;

      img {
        aspect-ratio: 3 / 2;
      }

      &--portrait {
        img {
          aspect-ratio: 2 / 2.75;

          @include breakpoint("m") {
            aspect-ratio: 2 / 2.725;
          }
        }
      }
    }
  }
}
