@import '../../styles/layout.scss';

.row {
  display: flex;
  flex-wrap: wrap;
  gap: dm(8) 0;

  &.align-top {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-bottom {
    align-items: flex-end;
  }
}
