@import "../../../styles/layout";
@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.richtext {
  font-size: 1.8rem;
  font-weight: $fw-regular;
  line-height: lh-large(1.8rem);

  @include breakpoint("m") {
    font-size: 2rem;
    line-height: lh-large(2rem);
  }

  @include breakpoint("l") {
    font-size: 2.2rem;
    line-height: lh-large(2.2rem);
  }

  // react bricks

  .toolbar {
    font-size: 1.4rem;
  }

  .is-highlighted {
    background-color: #ccc;
    border-radius: 4px;
  }

  p {
    padding: 0;
    margin: 0 0 dm(2) 0;

    &:last-child {
      margin: 0;
    }

    strong {
      font-weight: 500;
    }
  }
}
