@import '../../../styles/layout';
@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.richtext {
  font-weight: $fw-regular;
  font-size: 1.8rem;
  line-height: lh-large(1.8rem);

  @include breakpoint('m') {
    font-size: 2rem;
    line-height: lh-large(2rem);
  }

  @include breakpoint('l') {
    font-size: 2.2rem;
    line-height: lh-large(2.2rem);
  }

  // react bricks
  .toolbar {
    font-size: 1.4rem;
  }

  .highlighted {
    border-radius: 4px;
    background-color: #ccc;
  }

  p {
    margin: 0 0 dm(2) 0;
    padding: 0;

    &:last-child {
      margin: 0;
    }

    strong {
      font-weight: 500;
    }
  }
}
