@use 'sass:list';
@use 'sass:map';

$media-direction: min;

$mobile-width: 440px;
$tablet-width: 768px;
$notebook-width: 1096px;
$desktop-width: 1280px;

$breakpoints: (
  's': $mobile-width,
  'm': $tablet-width,
  'l': $notebook-width,
  'xl': $desktop-width
);

// breakpoints

@mixin breakpoint($breakpoint, $direction: $media-direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0;

    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

// responsive properties

@mixin responsive-prop($classname, $values) {
  @each $value in $values {
    &.#{$classname}-#{$value} {
      @content ($value);
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @each $value in $values {
      &.#{$classname}-#{$breakpoint}-#{$value} {
        @include breakpoint($breakpoint) {
          @content ($value);
        }
      }
    }
  }
}

@function numberRange($min, $max) {
  $output: ();

  @for $i from $min through $max {
    $output: list.append($output, $i);
  }

  @return $output;
}

@function shirtTypes() {
  @return xs, s, m, l, xl, xxl;
}
