@import './breakpoints';

$max-width: 1100px;
$content-width: 800px;
$grid-gutter: 12px;
$grid-size: 12;
$dm-size: 8px;
$line-height-small: 1.1;
$line-height: 1.25;
$line-height-large: 1.4;

@function dm($multiplier) {
  $result: $dm-size * $multiplier;

  @return $result;
}

@mixin default-width {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 dm(1) 0 dm(1);

  @include breakpoint(m) {
    padding: 0 dm(3) 0 dm(3);
  }
}

@mixin content-width {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 dm(1) 0 dm(1);

  @include breakpoint(m) {
    padding: 0 dm(3) 0 dm(3);
  }
}
