@import './headings';

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

body {
  color: $primary;
  font-weight: $fw-medium;
  font-size: 1.6rem;
  font-family: 'HK Grotesk', sans-serif;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $secondary;
  }
}
