@import './variables.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: $fw-regular;
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;
  transition: color 0.2s;

  &:hover {
    color: $secondary;
  }
}
