@import './headings';

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

body {
  background-color: color(primary-20);
  color: color(primary);
  font: font(1.6, base, medium);
  font-display: swap;
}

a {
  color: color(primary);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: color(secondary);
  }
}

.highlighted {
  display: inline-block;
  z-index: 1;
  position: relative;
  color: color(secondary);
}
