@import './breakpoints.scss';

$max-width: 1100px;
$content-width: 800px;
$grid-gutter: 12px;
$grid-size: 12;
$dm-size: 8px;
$line-height: 1.25;
$line-height-large: 1.4;

@function dm($multiplier) {
  $result: $dm-size * $multiplier;

  @return $result;
}

@function lh($fontsize) {
  $result: $fontsize * $line-height;

  @return $result;
}

@function lh-large($fontsize) {
  $result: $fontsize * $line-height-large;

  @return $result;
}

@mixin default-width {
  max-width: $max-width;
  padding: 0 dm(2) 0 dm(2);
  margin: 0 auto;

  @include breakpoint('m') {
    padding: 0 dm(3) 0 dm(3);
  }
}

@mixin content-width {
  max-width: $content-width;
  padding: 0 dm(2) 0 dm(2);
  margin: 0 auto;

  @include breakpoint('m') {
    padding: 0 dm(3) 0 dm(3);
  }
}
