@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.logo {
  font-size: 2.2rem;
  line-height: lh(2.2rem);
  color: $primary;
  font-weight: $fw-bold;

  @include breakpoint('m') {
    font-size: 2.4rem;
    line-height: lh(2.4rem);
  }
}
