.logo {
  color: color(primary);
  font: font(2, base, bold);

  @include breakpoint(m) {
    font: font(2.2, base, bold);
  }

  &:hover {
    .highlight {
      color: color(secondary);
    }
  }
}

.highlight {
  transition: color speed(normal);
}
