@import '../../styles/variables';
@import '../../styles/breakpoints';

.logo {
  color: $primary;
  font-weight: $fw-bold;
  font-size: 2rem;
  line-height: lh(2rem);

  @include breakpoint('m') {
    font-size: 2.2rem;
    line-height: lh(2.2rem);
  }

  &:hover {
    .highlight {
      color: $secondary;
    }
  }
}

.highlight {
  transition: color $speed-default;
}
