@import '../../styles/layout';
@import '../../styles/breakpoints';

.unit {
  &.with-padding-top {
    padding-top: dm(3);

    @include breakpoint(m) {
      padding-top: dm(5);
    }
  }

  &.with-padding-bottom {
    padding-bottom: dm(3);

    @include breakpoint(m) {
      padding-bottom: dm(5);
    }
  }

  &.banner {
    border-top: 2px solid color(primary-0);
    border-bottom: 2px solid color(primary-0);
    background-color: color(primary-20);
  }
}

.inner {
  &.default {
    @include default-width;
  }

  &.content {
    @include content-width;
  }

  &.full {
    width: 100%;
  }
}
