@import '../../styles/layout.scss';
@import '../../styles/breakpoints.scss';

.brick {
  &--default {
    @include default-width;
  }

  &--content {
    @include content-width;
  }

  &--full {
    width: 100%;
  }

  &--withPaddingTop {
    padding-top: dm(3);

    @include breakpoint('m') {
      padding-top: dm(5);
    }
  }

  &--withPaddingBottom {
    padding-bottom: dm(3);

    @include breakpoint('m') {
      padding-bottom: dm(5);
    }
  }
}
