@import '../../styles/layout';
@import '../../styles/breakpoints';

.unit {
  &.default {
    @include default-width;
  }

  &.content {
    @include content-width;
  }

  &.full {
    width: 100%;
  }

  &.with-padding-top {
    padding-top: dm(3);

    @include breakpoint('m') {
      padding-top: dm(5);
    }
  }

  &.with-padding-bottom {
    padding-bottom: dm(3);

    @include breakpoint('m') {
      padding-bottom: dm(5);
    }
  }
}
