@import '../../styles/layout.scss';

.brick {
  &--default {
    @include default-width;
  }

  &--content {
    @include content-width;
  }

  &--full {
    width: 100%;
  }

  &--withPaddingTop {
    padding-top: dm(5);
  }

  &--withPaddingBottom {
    padding-bottom: dm(5);
  }
}
