@import "../../../../styles/layout";
@import "../../../../styles/breakpoints";
@import "../../../../styles/variables";

.image {
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    max-width: calc(100vw - dm(4));
    height: auto;
    max-height: 80vh;
    animation: fade-in $speed-default;
    transform: translateZ(0) scale(1);
    transition: transform $speed-fast;
  }

  &.with-hover {
    img {
      &:hover {
        transform: translateZ(0) scale(1.05);
      }
    }
  }

  &.with-frame {
    img {
      border: dm(1) solid white;

      @include breakpoint("m") {
        border: dm(2) solid white;
      }
    }
  }
}
