.image {
  width: auto;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  img {
    width: 100%;
    height: auto;
    max-height: 800px;
    display: block;
    transform: translateZ(0) scale(1);
    transition: transform 0.3s;

    &:hover {
      transform: translateZ(0) scale(1.05);
    }
  }

  &--lightbox {
    img {
      &:hover {
        transform: translateZ(0);
      }
    }
  }
}
