@import '../../styles/layout.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.header {
  width: 100%;
  padding: dm(4) dm(2) dm(4) dm(2);
  max-width: $max-width;
  margin: 0 auto;
  flex-grow: 0;

  @include breakpoint('m') {
    padding: dm(5) dm(3) dm(5) dm(3);
  }

  &__folding-edge {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 dm(3) dm(3) 0;
    border-color: transparent $secondary transparent transparent;

    @include breakpoint('l') {
      position: fixed;
      border-width: 0 dm(4) dm(4) 0;
    }
  }
}
