@import '../../styles/layout';
@import '../../styles/breakpoints';
@import '../../styles/variables';

.header {
  flex-grow: 0;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: dm(4) dm(2) dm(4) dm(2);

  @include breakpoint('m') {
    padding: dm(5) dm(3) dm(5) dm(3);
  }
}

.folding-edge {
  position: fixed;
  top: dm(0.5);
  right: dm(0.5);
  width: 0;
  height: 0;
  border-width: 0 dm(2) dm(2) 0;
  border-style: solid;
  border-color: transparent $secondary transparent transparent;

  @include breakpoint('m') {
    border-width: 0 dm(3) dm(3) 0;
  }
}
