@import '../../../styles/layout.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';
@import '../../../styles/animations.scss';

.hero-image {
  &__img {
    cursor: zoom-in;

    img {
      animation: fadeIn 0.6s;
      width: 100%;
      height: auto;
      max-height: 800px;
      display: block;
      transition: opacity 0.3s;
      aspect-ratio: 3 / 2;
    }

    &--lightbox {
      cursor: zoom-out;
      padding: dm(3);

      img {
        width: 100%;
        height: auto;
        display: block;
        border: dm(1) solid white;

        @include breakpoint('m') {
          height: 100%;
          width: auto;
          border: dm(2) solid white;
        }
      }
    }
  }

  &__caption {
    margin-top: dm(2);
    font-size: 1.5rem;
    text-align: center;
    display: block;
    text-transform: uppercase;

    &.is-inverted {
      color: $primary-50;
    }
  }
}
