.stage {
  @include breakpoint(m) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

// react bricks
.toolbar {
  font-size: 1.4rem;
}

.inner {
  max-width: 820px;
}

.text {
  margin: 0;
  padding: 0;
  color: color(primary-50);
  font: font(2.1, base, medium);

  @include breakpoint(m) {
    font: font(2.3, base, medium);
  }

  @include breakpoint(l) {
    font: font(2.6, base, medium);
  }

  p {
    margin: 0 0 dm(2) 0;

    &:last-child {
      margin: 0;
    }
  }

  &.with-padding-top {
    padding-top: dm(3);
  }
}
