@import '../../styles/layout.scss';
@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.footer {
  color: $primary;
  font-size: 1.6rem;
  background-color: $primary-10;
  margin-top: dm(20);
  flex-grow: 0;
  font-weight: $fw-medium;

  &__inner {
    padding: dm(5) dm(3) dm(5) dm(3);
    max-width: $max-width;
    margin: 0 auto;

    @include breakpoint('m') {
      padding: dm(8) dm(3) dm(8) dm(3);
    }
  }

  &__nav {
    text-align: right;
    font-weight: $fw-regular;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      @include breakpoint('m') {
        justify-content: flex-end;
      }

      li {
        margin: dm(2) dm(2) 0 0;

        @include breakpoint('m') {
          margin: 0 0 0 dm(3);
        }
      }
    }
  }
}
