.richtext {
  color: color(primary);
  font: font(1.7, large, regular);

  &.invert {
    color: color(primary-0);

    a {
      color: color(primary-0);
    }
  }

  @include breakpoint(m) {
    font: font(1.9, large, regular);
  }

  @include breakpoint(l) {
    font: font(2.1, large, regular);
  }

  // react bricks
  .toolbar {
    font-size: 1.4rem;
  }

  p {
    margin: 0 0 dm(2) 0;
    padding: 0;
    font-weight: fw(regular);

    &:last-child {
      margin: 0;
    }

    strong {
      font-weight: fw(medium);
    }
  }

  a {
    color: color(secondary);
    text-decoration: underline;
  }

  h3 {
    margin: dm(7) 0 dm(2) 0;

    &:first-child {
      margin: 0 0 dm(2) 0;
    }
  }

  h4 {
    margin: dm(4) 0 dm(2) 0;

    &:first-child {
      margin: 0 0 dm(2) 0;
    }
  }
}
