.richtext {
  font: font(1.8, large, regular);

  @include breakpoint(m) {
    font: font(2, large, regular);
  }

  @include breakpoint(l) {
    font: font(2.2, large, regular);
  }

  // react bricks
  .toolbar {
    font-size: 1.4rem;
  }

  p {
    margin: 0 0 dm(2) 0;
    padding: 0;

    &:last-child {
      margin: 0;
    }

    strong {
      font-weight: fw(medium);
    }
  }
}
