@import '../../styles/layout.scss';
@import '../../styles/breakpoints.scss';

.slider {
  width: 100%;

  &__container {
    display: flex;
    will-change: transform;
    align-items: center;
    padding-bottom: dm(10);

    @include breakpoint('m') {
      padding-bottom: 0;
    }

    &.is-animated {
      transition: transform 0.6s;
    }

    > div {
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__controller {
    &__next,
    &__prev {
      position: absolute;
      z-index: 2000;

      transform: translateY(-50%);
      padding: dm(2);
      transition: transform 0.6s, opacity 0.3s;
      opacity: 0;
      top: auto;
      bottom: 0;
      pointer-events: all;
      cursor: default;

      @include breakpoint('l') {
        top: 50%;
        bottom: auto;
        padding: dm(3);
      }

      &.is-enabled {
        opacity: 1;
        cursor: pointer;
      }
    }

    &__next {
      right: calc(50% - dm(11));

      @include breakpoint('l') {
        right: dm(6);
        margin-left: 0;

        &.is-enabled {
          &:hover {
            transform: translate(dm(2), -50%);
          }
        }
      }
    }

    &__prev {
      left: calc(50% - dm(11));

      @include breakpoint('l') {
        left: dm(6);

        &.is-enabled {
          &:hover {
            transform: translate(dm(-2), -50%);
          }
        }
      }
    }
  }
}
