@import "../../styles/layout";
@import "../../styles/breakpoints";
@import "../../styles/variables";

.slider {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding-bottom: dm(10);
    will-change: transform;

    @include breakpoint("m") {
      padding-bottom: 0;
    }

    &.is-animated {
      transition: transform $speed-default;
    }

    > div {
      display: flex;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }

  &__controller {
    &__next,
    &__prev {
      position: absolute;
      z-index: 2000;
      top: auto;
      bottom: 0;
      padding: dm(2);
      cursor: default;
      opacity: 0;
      pointer-events: all;
      transform: translateY(-50%);
      transition: transform $speed-default, opacity $speed-fast;

      @include breakpoint("l") {
        top: 50%;
        bottom: auto;
        padding: dm(3);
      }

      &.is-enabled {
        cursor: pointer;
        opacity: 1;
      }
    }

    &__next {
      right: calc(50% - dm(11));

      @include breakpoint("l") {
        right: dm(6);
        margin-left: 0;

        &.is-enabled {
          &:hover {
            transform: translate(dm(2), -50%);
          }
        }
      }
    }

    &__prev {
      left: calc(50% - dm(11));

      @include breakpoint("l") {
        left: dm(6);

        &.is-enabled {
          &:hover {
            transform: translate(dm(-2), -50%);
          }
        }
      }
    }
  }
}
