@import "../../../../styles/variables";
@import "../../../../styles/layout";

.key-value-item {
  padding: dm(3) 0;
  border-top: 1px solid $primary;

  @include breakpoint("m") {
    padding: dm(4) 0;
  }

  &:last-child {
    border-bottom: 1px solid $primary;
  }

  &__key {
    font-weight: $fw-bold;
  }

  &__value {
    margin-top: dm(0.5);

    @include breakpoint("m") {
      margin-top: 0;
    }
  }
}
